<h1>施設一覧</h1>

<% if @rooms.any? %>
  <table>
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>施設詳細</th>
        <th>料金 (/日)</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td>
            <%= image_tag(
                  (room.image.attached? ? room.image : "default_room.png"),
                  alt: room.name, width: 100, height: 100
                ) %>
          </td>
          <td><%= link_to room.name, room_path(room) %></td>
          <td><%= room.description %></td>
          <td>¥<%= number_with_delimiter(room.price) %></td>
          <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだ施設はありません。</p>
<% end %>

<p style="margin-top:12px;"><%= link_to "新しい施設を登録", new_room_path %></p>