<!DOCTYPE html>
<html>
  <head>
    <title>ReservationAppChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= image_tag(
              (current_user.avatar.attached? ? current_user.avatar : "default_avatar.png"),
              alt: current_user.name || "ユーザー",
              width: 40, height: 40,
              style: "border-radius:50%;object-fit:cover;"
            ) %>

        <span>ようこそ、<%= current_user.name %>さん</span>
        <%= link_to "施設を登録する", new_room_path %>
        <%= link_to "プロフィール編集", profile_edit_user_path(current_user) %>
        <%= link_to "アカウント編集", edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%# ログインしていない時の表示 %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>

    <hr>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
